<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.nature.blog.mapper.ImageMapper">
    <insert id="saveOne">
        insert into tb_images values (#{id}, #{userId}, #{url}, #{name}, #{path}, #{contentType}, #{origin}, #{state}, #{createTime}, #{updateTime})
    </insert>
    <select id="findAllByUserId" resultType="net.nature.blog.pojo.Image">
        select * from tb_images
                 where
                     user_id = #{userId}
                        <if test="origin != null and origin != ''">
                            and origin = #{origin}
                        </if>
                            order by create_time DESC
    </select>
    <update id="deleteImageByUpdateState">
        update tb_images set state = '0' where id = #{id}
    </update>
    <update id="refreshImage">
        update tb_images set state = '1' where id = #{id}
    </update>
    <select id="getImageOrigins" resultType="String">
        select origin from tb_images group by origin
    </select>
</mapper>